@font-face {
    font-family: 'The Display St';
    src: url('TheDisplaySt.woff2') format('woff2'),
        url('TheDisplaySt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

