<main>
  <div class="header">
    <h2>
      COSTAMATIC
    </h2>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="row">
        <div class="col-5 py-15">
          <app-heater></app-heater>
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <app-beans-container></app-beans-container>
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <app-grinder></app-grinder>
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <app-milk-container></app-milk-container>
        </div>
      </div>
    </div>
    <div class="col-2">
      <app-machine></app-machine>
    </div>
  </div>
</main>


<div style="display: block; width: 500px; height: 500px; border: 1px solid black">
  {{ (displayText | async) }}<br>
  {{ machineState | async }} <br>
  {{ (currentBeverage | async) | json }}<br>
</div>
