@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('./assets/fonts/stylesheet.css');

/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */ /* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
* What follows is the result of much research on cross-browser styling.
* Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
* Kroc Camen, and the H5BP dev community and team.
*/
/* ==========================================================================
  Base styles: opinionated defaults
  ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/*END BOILERPLATE*/

*, ::after, ::before {
  box-sizing: border-box;
}

html, body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  height: 100%;
  color: #2f2f2f;
  margin: 0;
  position: relative;
}

body {
  padding-top: 15px;
}

main {
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  position: relative;
  background: linear-gradient(
    45deg,
    #888 5%,
    #eee 10%,
    #bbb 30%,
    #ccc 50%,
    #bbb 70%,
    #eee 80%,
    #888 95%
  );
}

.header {
  text-align: center;
  color: #672137;
  background: rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid #282828;
}

.header > h2 {
  font-size: 5rem;
  text-transform: capitalize;
  font-width: 700;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.row > [class*='col-'] {
  padding-left: 15px;
  padding-right: 15px;
  flex: 1 0 0%;
}

.row > .col {
  flex-grow: 1;
  flex-shrink: 0;
}

.row > .col-1 {
  flex-basis: 20%;
  max-width: 20%;
}

.row > .col-2 {
  flex-basis: 40%;
  max-width: 40%;
}

.row > .col-3 {
  flex-basis: 60%;
  max-width: 60%;
}

.row > .col-4 {
  flex-basis: 80%;
  max-width: 80%;
}

.row > .col-5 {
  flex-basis: 100%;
  max-width: 100%;
}

.row > .col-half {
  flex-basis: 50%;
  max-width: 50%;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.py-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-10 {
  padding-top: 10px;
}

.px-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.text-big {
  font-size: 2em;
}

.text-bigger {
  font-size: 4em;
}

.text-bigger-big {
  font-size: 8em;
}

.text-small {
  font-size: 0.8em;
}

.text-smaller {
  font-size: 0.5em;
}

.status-dot {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  position: relative;
  border: 1px solid #222222;
  vertical-align: middle;
  background: rgba(145, 39, 71, 0.8);
  margin-bottom: 3px;
}

.status-dot:after {
  position: absolute;
  content: '';
  top: 0.5rem;
  right: 0.5rem;
  border-radius: 50%;
  animation: glow-red 1s infinite alternate;
}

.status-dot.status-dot-green {
  background: rgba(39, 145, 53, 0.8);
}

.status-dot.status-dot-green:after {
  animation: glow-green 1s infinite alternate;
}

@keyframes glow-red {
  from {
    box-shadow: 0 0 1rem 0.6rem #912747;
  }
  to {
    box-shadow: 0 0 1rem 0.4rem #912747;
  }
}

@keyframes glow-green {
  from {
    box-shadow: 0 0 1rem 0.6rem #279135CC;
  }
  to {
    box-shadow: 0 0 1rem 0.4rem #279135CC;
  }
}

.admin-table {
  width: 100%;
  border-collapse: collapse;
  background: #ebecf1;
}

.admin-table th,
.admin-table td {
  border: 1px solid #912747;
  padding: 5px 10px;
}

.btn {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  padding: 5px 10px;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: all .15s ease-in-out;
  border: 1px solid #912747;
  color: #912747;
  background: #EBECF1;
  font-weight: 700;
  text-decoration: none;
}

.btn.active,
.btn:hover,
.btn:focus {
  border: 1px solid #912747;
  background: #912747;
  color: #EBECF1;
}

.btn:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

.pages-controls {
  position: absolute;
  top: 15px;
  right: 30px;
}

.w-100 {
  width: 100%;
}

.mb-10 {
  margin-bottom: 10px;
}

.display-font {
  font-family: 'The Display St';
  font-weight: normal;
  font-style: normal;
}

.display-font.display-error {
  color: #b32a53;
  font-weight: 700;
}

.flex-half {
  flex: 1 0 50%;
  flex-basis: 50%;
  max-width: 50%;
}

.display-el {
  border-radius: 3px;
  background: #282828;
  background: radial-gradient(ellipse at center, #282828 50%, #225722 100%);
  background-size: 100% 4px;
  background-repeat: repeat-y;
  animation: display-anim 10s linear infinite;
}

@keyframes display-anim {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 0% 90%;
  }
  100% {
    background-position: 0% 60%;
  }
}

.display-text {
  color: #66ff66;
  padding: 0.5rem 1rem;
  text-align: center;
  font-size: 1.2rem;
  flex: 1 0 100%;
  flex-basis: 100%;
  max-width: 100%;
}

.container-preview {
  background: rgba(142, 110, 111, 0.2);
  height: 320px;
  overflow: hidden;
  position: relative;
  border: 2px solid #282828;
  border-radius: 3px 3px 0 0;
  width: 50px;
  margin: 0 auto;
}

.heater-preview:after,
.container-preview:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.03);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
}

.container-preview > .preview-milk,
.container-preview > .preview-beans {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 90%;
  background-size: cover;
  transition: all 0.5s ease-in-out;
}

.container-preview > .preview-beans {
  background-image: url("./assets/img/beens.jpg");
}

.container-preview > .preview-milk {
  background-image: url("./assets/img/milk.png");
}

.container-preview > .preview-scale {
  position: absolute;
  top: 5%;
  left: 0;
  right: 0;
  height: 96%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: underline;
  font-size: 0.8rem;
  text-align: center;
}

.heater-preview {
  position: relative;
  height: 50px;
  width: 100%;
  background: #282828;
  box-shadow: inset #EF822F 0 0 0 0;
  border: 2px solid #282828;
  border-radius: 3px;
}

.heater-preview.is-heating {
  background: #ef4213;
  box-shadow: inset #EF822F 0 0 15px 7px
}

.heater-preview.is-hot {
  background: #ef4213;
}

.beverage-preview {
  width: 100%;
  height: 300px;
  background: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  border: 2px solid #282828;
  border-radius: 3px;
}

.beverage-preview > .cup {
  height: 240px;
  width: 180px;
  position: relative;
  margin: 0 auto;
  clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 15% 100%);
  background: #c1a3ac;
  display: flex;
  flex-direction: column;
  justify-content: end;
  cursor: pointer;
}

.beverage-preview > .cup > .cup-milk {
  width: 100%;
  height: 10%;
  transition: all 1s linear;
  background: #fdfff5;
}

.beverage-preview > .cup > .cup-coffee {
  width: 100%;
  height: 10%;
  transition: all 1s linear;
  background: #6F4E37;
}

